* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

/* whole body  */
main {
    background-color: rgb(219, 221, 220);
    height: 100vh;
    width: 100vw;
    display: flex;   
}

/* left side */
.left {
    /* background-color: red; */
    height: 100%;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_panel {
    height: 98%;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.left .left_panel .left_top {
    width: 100%;
    height: 70%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5%;
}

.left .left_panel .left_top li.img {
    height: 10% !important; 
    width: 100% !important;
    /* background-color: green !important; */
}

.left .left_panel .left_top img {
    height: 100%;
    width: 100%;
}

.left .left_panel .left_top li {
    font-size: 2rem;
}

.left .left_panel .left_bottom  {
    gap: 5%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    /* background-color: cyan; */
    width :100%;
    height: 30%;
}

.left .left_panel .left_bottom li {
    font-size: 2rem;
}


/* right side */
.right {
    /* background-color: orange; */
    height: 100%;
    width: 95%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_panel {
    height: 98%;
    width: 100%;
    /* background-color: pink; */
    padding: 1%;
}

.head_category {
    /* background-color: brown; */
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main_area {
    /* background-color: chartreuse; */
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

.right .right_panel .head_category .navarea {
    height: 40%;
    width: 100%;
    display: flex;
    background-color: red;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.right .right_panel .head_category .navarea .nav_heading {
    height: 100%;
    width: 35%;
    /* background-color: yellow; */
}

.right .right_panel .head_category .navarea .sub_nav_menu {
    height: 100%;
    width: 65%;
    /* background-color: red; */
}

.right .right_panel .head_category .categoriy_page {
    height: 55%;
    width: 100%;
    /* background-color: cyan; */
}

.right .right_panel .head_category .categoriy_page .cat_heading {
    height: 40%;
    width: 100%;
    /* background-color: darkgoldenrod; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right .right_panel .head_category .categoriy_page .cat_heading p{
    margin-right: 20px;
}

.right .right_panel .head_category .categoriy_page .cat_heading p .ar-left{
    color: gray
}

.right .right_panel .head_category .categoriy_page .categories {
    height: 60%;
    width: 100%;
    /* background-color: darkolivegreen; */
    display: flex;
    justify-content: start;
    gap: 1%;
    align-items: center;
}


.right .right_panel .head_category .categoriy_page .categories li{
    height: 70%;
    width: auto;
    padding: 1.1%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    color: gray;
    align-items: center;
    cursor: pointer;
}

.right .right_panel .head_category .categoriy_page .categories li.all{
    color: cyan;
    border: 1px solid cyan
}

.right .right_panel .main_area .chose_doctor {
    height: 100%;
    width: 30%;
    background-color: mediumorchid;
}

.right .right_panel .main_area .doctor_info {
    height: 100%;
    width: 70%;
    background-color:crimson;
}

/* row 1 main header row */
.right .right_panel .head_category .navarea .nav_heading {
    height: 100%;
    width: 30%;
    display: flex;
    font-weight: 1000;
    justify-content: start;
    align-items: center;
    font-size: 1.6rem;
    font-family: sans-serif;
    /* background-color: darkviolet; */
}

.right .right_panel .head_category .navarea ul {
    height: 100%;
    width: 80%;
    /* background-color: darkviolet; */
}

.right .right_panel .head_category .navarea .sub_nav_menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.right .right_panel .head_category .navarea .sub_nav_menu  .top_cat_ele {
    background-color: white;
    height: 95%;
    width: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 10px;
}

.right .right_panel .head_category .navarea .sub_nav_menu  .top_cat_ele.profile {
    background-color: white;
    height: 95%;
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 10px;
}

.right .right_panel .head_category .navarea .sub_nav_menu  .top_cat_ele.profile img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.right .right_panel .head_category .navarea .sub_nav_menu  .top_cat_ele.profile .first{
    height: 100%;
    width: 45%;
    border-radius: 10px;
    background-color: transparent;
}

.right .right_panel .head_category .navarea .sub_nav_menu  .top_cat_ele.profile .scnd{
    height: 100%;
    width: 55%;
    border-radius: 10px;
    background-color: transparent;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right .right_panel .head_category .navarea .sub_nav_menu  .top_cat_ele.profile li{
    height: 100%;
    width: 50%;
    padding: 2px;
    border-radius: 10px;
    background-color: white;
}

.right .right_panel .head_category .navarea .sub_nav_menu  .top_cat_ele.profile ul{
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 10px;
}

.right .right_panel .head_category .navarea .sub_nav_menu  .top_cat_ele.input {
    background-color: white;
    height: 95%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.right .right_panel .head_category .navarea .sub_nav_menu  .top_cat_ele input {
    height: 100%;
    width: 90%;
    outline: none;
    background-color: transparent;
    border:none;
    padding: 10px;
}


.right .right_panel .head_category .navarea .sub_nav_menu  .top_cat_ele i {
    height: 100%;
    width: 10%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}